{% extends 'base.html.twig' %}

{% block title %}Connexion -
	{{parent()}}
{% endblock %}

{% block body %}


<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab"  role="tab">Connexion</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('security_registration')}}">Inscription</a>
	</li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="tabs-1" role="tabpanel">
		<form action="{{path('security_login')}}" method="POST">
			<div class="form-group">
				<input type="text" placeholder="Adresse email" name="_username" class="form-control" required>


				<input type="password" placeholder="Mot de passe" name="_password" class="form-control" required>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success">Se connecter</button>
			</div>
		</form>
	</div>

	<div class="tab-pane" id="tabs-2" role="tabpanel">
	</div>


{% endblock %}