{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe -
    {{ parent() }}
{% endblock %}

{% block additional_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('../assets/connexion/login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('../assets/connexion/profil.css') }}">
{% endblock %}

{% block body %}
<div class="form-container">
    <form method="post">
        <div class="form-group">
            <input type="password" name="password" id="password" class="form-control" placeholder="Nouveau mot de passe"
                   required>
            <input type="hidden" name="token" value="{{ token }}">
            <div class="profil-info__button">
                <button class="btn btn-primary menu-link" type="submit">Confirmer</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

