{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe -
    {{ parent() }}
{% endblock %}

{% block body %}
    <form method="post">
        <div class="form-group">
            <input type="password" name="password" id="password" class="form-control" placeholder="Nouveau mot de passe"
                   required>
            <input type="hidden" name="token" value="{{ token }}">
            <button class="btn btn-lg btn-primary" type="submit">Confirmer</button>
        </div>
    </form>

{% endblock %}

