<div class="diy-button-container">
    <a href="{{ path('blog') }}" title="Rejoignez le blog DIY ici.">
        <i class="diy-button-icon fa fa-pencil fa-wrench fa-2x"></i>
        <div class="diy-button-text">DIY</div>
    </a>
</div>