/*=======================================================================
                                  GENERAL
  =======================================================================*/

i { color: #EEEEEE; }

h { font-family: "Roboto", sans-serif }

p { font-family: "Lato", sans-serif }

label { font-family: "Dosis Light", sans-serif }

.underlined { text-decoration: underline}
.bold { font-weight: bold }

thead tr { border-bottom: solid 10px transparent }

.gray-href { color: #EEEEEE}

/*=======================================================================
                                HEADER PART
  =======================================================================*/

.navbar
{
    background-color: #8ed86e;
    justify-content: space-between;
}

.navbar-nav
{
    flex-direction: row;
}

.nav-link
 {
    padding: 15px 15px 15px 15px !important;
 }

.nav-link:hover
{
    background-color: #74d14c;
    padding: 15px 15px 15px 15px !important;
    border-radius: 5px;
}

@media (min-width: 576px)
{
    .nav-link
    {
        padding: 15px 15px 15px 15px !important;
    }

    .nav-link:hover
    {
        background-color: #74d14c;
        padding: 15px 15px 15px 15px !important;
        border-radius: 5px;
    }
}

/*=======================================*/
.dropdown-menu
{
    margin: 0px 0px 0px -60px;
    background-color: #8ed86e;
    border: solid 1px #244d11;
    border-radius: 0px;
    position:absolute !important;
}

.dropdown-item:hover
{
    background-color: #74d14c;
}

/*=======================================================================
                                FOOTER PART
  =======================================================================*/
#footer
{
    text-align: center;
    background-color: #244d11;
    color: #EEEEEE;
    padding: 0;
}

#subfooter
{
    flex-direction: column;
}

@media (min-width: 576px)
{
    #subfooter
    {
        flex-direction: row;
    }
}

.footer-element
{
    flex-direction: row;
    text-align: center;
    width:auto;
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #555555;
}
@media (min-width: 576px)
{
    .footer-element
    {
        border-bottom: solid 0px transparent;
        flex-direction: column;
        margin: 10px;
    }
}

#last-element
{
    border-bottom: solid 0px transparent;
}

.footer-element table
{
    margin-right: 30px;
    width: 100%;
}
.footer-element td
{
    width: 33.3333%;
}

#copyright
{
    margin-top: -15px;
    margin-bottom: -5px;
    font-size: 8px;
    align: center;
}