.navbar
{
    background-color: #8ed86e;
    justify-content: space-between;
}

.navbar-nav
{
    flex-direction: row;
}

.nav-link
{
    margin: 0px 20px;
}

.nav-link:hover
{
    background-color: #74d14c;
    border-radius: 5px;
}

/*=======================================*/

i { color: #EEEEEE; }

h { font-family: Roboto }

p { font-family: Lato }

label { font-family: "Dosis Light"}

/*=======================================*/

.dropdown-menu
{
    margin: 0px 0px 0px -60px;
    background-color: #8ed86e;
    border: solid 1px #244d11;
    border-radius: 0px;
}

.dropdown-item:hover
{
    background-color: #74d14c;
}

/*=======================================*/