{% extends 'base.html.twig' %}

{% block title %} Devis en ligne - {{ parent()}}
{% endblock %}
{% block body %}
<div class="objects">
    {{ form_start(form) }}
    <div class="row">
        {{ form(form) }}
    </div>
</div>
    {{ form_end(form) }}
{% endblock body %}

{% block javascripts %}
    <script>
        // $('.btn.btn-success').click(function() {
        //     let id = $(this).attr('id');
        //     let value = $("#"+id+"[name='quantite']").val();
        //
        //     $.ajax({
        //         url : '/entreprise/devis/'+ id,
        //         type : 'GET',
        //         data : {
        //             quantite: value
        //         },
        //         dataType: "integer",
        //         success: function(response) {
        //             console.log(response);
        //         }
        //     });
        //     alert('Vous avez ajouté ' + value + ' au panier'); //à récupérer la valeur selected sur la select des catégories
        // });


    </script>

{% endblock %}