{% extends 'base.html.twig' %}

{% block title %} Devis en ligne - {{ parent()}}
{% endblock %}
{% block body %}
<div class="objects">
    {{ form_start(form) }}
    <div class="row">
        {{ form(form) }}
    </div>
</div>
    {{ form_end(form) }}
{% endblock body %}

{% block javascripts %}
    <script>
    //à récupérer la valueur selected sur la select des catégories.

    $.ajax({
    url: '/entreprise/devis',
    type: "GET",
    data: data , //mettre ta variable contennant la value de l'objet selectionné,
    });

    </script>

{% endblock %}