{% extends 'base.html.twig' %}

{% block title %}Admin - {{ parent() }}{% endblock %}

{% block additional_stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{asset('../assets/admin.css')}}">

{% endblock %}

{% block body %}
    <div id="accueil-admin">
        <ul>
            <li>
                <div class="btn" onclick="window.location.href = '/admin/user';">
                    <i class="fa fa-users fa-2x"></i>Gestion Administreurs et Modérateurs
                </div>
            </li>
            <li>
                <div class="btn" onclick="window.location.href = '/admin/article';">
                    <i class="fa fa-comments fa-2x"></i>Gestion des articles
                </div>
            </li>
            <li>
                <div class="btn" onclick="window.location.href = '/admin/produits';">
                    <i class="fa fa-shopping-basket fa-2x"></i>Gestion des produits
                </div>
            </li>
            <li>
                <div class="btn" onclick="window.location.href = '/admin/produits/categorie';">
                    <i class="fa fa-th-list fa-2x"></i>Gestion des Catégories
                </div>
            </li>
            <li>
                <div class="btn" onclick="window.location.href = '/admin/produits/souscategorie';">
                    <i class="fa fa-th fa-2x"></i>Gestion des Sous Catégories
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
