{% extends 'base.html.twig' %}

{% block title %}Admin - {{ parent() }}{% endblock %}

{% block body %}
<ul>
    <li>
        <bouton onclick="window.location.href = '/admin/user';">
            <i class="fa fa-user fa-2x">Gestion Administreurs et Modérateurs</i>
        </bouton>
    </li>
    <li>
        <bouton onclick="window.location.href = '/admin/article';">
            <i class="fa fa-blog fa-2x">Gestion des articles</i>
        </bouton>
    </li>
    <li>
        <bouton onclick="window.location.href = '/admin/produits';">
            <i class="fa fa-shopping-basket fa-2x">Gestion des produits</i>
        </bouton>
    </li>
    <li>
        <bouton onclick="window.location.href = '/admin/produits/categorie';">
            <i class="fa fa-filter fa-2x">Gestion des Catégories</i>
        </bouton>
    </li>
    <li>
        <bouton onclick="window.location.href = '/admin/produits/sous-categorie';">
            <i class="fa fa-sort-down fa-2x">Gestion des Sous Catégories</i>
        </bouton>
    </li>
</ul>
{% endblock %}
