{% extends 'base.html.twig' %}

{% block title %}Foire Aux Questions - {{ parent() }}{% endblock %}

{% block body %}
    <div class="resumeEcoProduit">
        <h2>Qu'est ce qu'un produit éco-responsable ?</h2>
        <p>
            Un produit éco-responsable est un produit essayant de respecter au maximum la planète. Pour cela nous proposons du recyclage de produits et des produits respectant au mieux la planète.
        </p>
    </div>
    <div class="diy">
        <h2>Le DIY, c'est quoi ?</h2>
        <p>
            Le DIY est une activité visant à créer ou réparer sois mêmes des objets de la vie courante grâce à des
            tutoriaux disponible sous la rubrique DIY du blog.
        </p>
        <p>
            Le DIY s'inscrit pleinement dans l'objectif Zéro Déchets, car il permet de refuser d'acheter un produit, réduire
            nos déchets, réutiliser des anciens objets ainsi que de les recycler.
        </p>
    </div>
    <div class="pourquoiRecycler">
        <h2>Pourquoi recycler ?</h2>
        <p>Tout d'abord parce que vos déchets peuvent encore être utiles, mais aussi parce que cette pratique permet de respecter la planète en réduisant
            vos déchets et d'économiser de l'énergie.</p>
    </div>
{% endblock %}
