<div class="resumeEcoService">
    <h1>Eco-Service, c'est quoi ?</h1>

    <p>Eco-Service est une entreprise spécialisée dans la revente de produits recyclés (appareils électriques et électroniques usagés, outils industriels,
    déchets organiques) à partir de déchets que nous récupérons dans les centres relais ou dans nos entreprises partenaires. Nous nous 
    engageons au quotidien dans la création de produits eco-responsables et zéro déchet dans le but d'avoir une consommation plus respectueuse de
    l'environnement</p>
</div>
<div class="zeroDechets">
    <h1>Le zéro déchets, c'est quoi ?</h1>
    <p>Le Zéro Déchet est une démarche visant à réduire au maximum notre production de déchets. Il s'agit bien de
        revoir son mode de consommation afin de produire moins de déchets à la source, et non pas simplement de mieux intégrer le recyclage dans nos modes de vie.</p>
    <p>Cela se base sur les 5 R :</p>
    <ul>
        <li> <p> <b>Refuser</b> ce dont on n'a pas besoin, les objets à usage unique, et les objets non revalorisables.</p> </li>
        <li> <p> <b>Reduire</b> les quantités achétées pour éviter le gaspillage.</p> </li>
        <li> <p> <b>Reutiliser</b> les objets reutilisables, loués, empruntés, achétés d'occasion, réparés et donnés.</p> </li>
        <li> <p> <b>Recycler</b> les objets et matières revalorisables.</p> </li>
        <li> <p> <b>Rendre à la terre (Composter)</b> la matière organique.</p> </li>
    </ul>
    <p>L’objectif zéro déchet c’est finalement de ne plus avoir de poubelle qui ne soit ni recyclable ni compostable.</p>
</div>
<div class="diy">
    <h1>Le DIY, c'est quoi ?</h1>
    <p>Le DIY est une activité visant à créer ou réparer des objets de la vie courante</p>
    <p>Cela se base sur les 5 R :</p>
    <ul>
        <li> <p> <b>Refuser</b> ce dont on n'a pas besoin, les objets à usage unique, et les objets non revalorisables.</p> </li>
        <li> <p> <b>Reduire</b> les quantités achétées pour éviter le gaspillage.</p> </li>
        <li> <p> <b>Reutiliser</b> les objets reustilisable, louer, emprunter, achéter d'occasion, réparer et donner.</p> </li>
        <li> <p> <b>Recycler</b> les objets et matières revalorisables .</p> </li>
        <li> <p> <b>Rendre à la terre</b> et donc composter la matière organique .</p> </li>
    </ul>
    <p>L’objectif zéro déchet c’est finalement de ne plus avoir de poubelle qui ne soit ni recyclable ni compostable.</p>
</div>
<div class="nousContacter">
    <h1>Comment nous contacter ?</h1>
    <p>Pour toute proposition commerciale veuillez adresser un e-mail à commercial@eco_service.com .</p>
    <p>Pour tout problème technique ou de commande veuillez adresser un e-mail à probleme@eco-service.com .</p>
    <p>Pour toute candidature spontanée veuillez adresser un e-mail à serviceRH@eco-service.com .</p>
</div>