<div class="resumerEcoService">
    <h1>Eco-Service, c'est quoi ?</h1>

    <p>Eco-Service est une entreprise spécialisée dans la revente de produits recyclés (appareils électriques et électroniques usagés, outils industriels,
    déchets organiques)</p>
</div>
<div class="nosClients">
    <h1>Quels sont nos clients ?</h1>
    <p>Chez Eco-service nous avons deux cibles clientèles :</p>

    <ul>
        <li>Des particuliers qui cherchent des produits écoresponsables</li>
        <li>Des sociétés qui cherchent des services (recyclages, enlèvement de déchets, matériel)</li>
    </ul>
</div>
<div class="notreHistoire">
    <h1>Notre Histoire :</h1>

    <p>Eco-Service est une entreprise oeuvrant pour l'écologie grâce au recyclage depuis plus de 20 ans.
    En 2020 une évolution majeure a eu lieu avec l'ouverture du site e-commerce pour toucher une cible plus grande.</p>
</div>
<div class="nousContact">
    <h1>Comment nous contacter ?</h1>

    <p>Pour une offre d'emploie ou commerciale veuillez adresser un e-mail à commercial@eco_service.com</p>
    <p>Pour tout problème technique ou de commande veuillez adresser un e-mail à probleme@eco-service.com</p>
</div>