<div class="resumeEcoService">
    <h1>Eco-Service, c'est quoi ?</h1>

    <p>Eco-Service est une entreprise spécialisée dans la revente de produits recyclés (appareils électriques et électroniques usagés, outils industriels,
    déchets organiques) à partir de déchets que nous récupérons dans les centres relais ou dans nos entreprises partenaires. Nous nous 
    engageons au quotidien dans la création de produits eco-responsables et zéro déchet dans le but d'avoir une consommation plus respectueuse de
    l'environnement</p>
</div>
<div class="notreHistoire">
    <h1>Notre Histoire :</h1>
    <p>Eco-Service est une entreprise oeuvrant pour l'écologie grâce au recyclage depuis plus de 20 ans.
    En 2020 une évolution majeure a eu lieu avec l'ouverture du site e-commerce pour toucher une cible plus grande.</p>
</div>
<div class="nousContacter">
    <h1>Comment nous contacter ?</h1>
    <p>Pour une offre d'emploie ou commerciale veuillez adresser un e-mail à commercial@eco_service.com</p>
    <p>Pour tout problème technique ou de commande veuillez adresser un e-mail à probleme@eco-service.com</p>
</div>