<h1>Eco-Service, c'est quoi ?</h1>

Eco-Service est un spécialiste du recyclage (appareils électriques et électroniques usagés, outils industriels,
déchets organiques)

<h1>Quels sont nos clients ?</h1>
Chez Eco-service nous avons deux cibles clientèles :

<ul>
    <li>Des particuliers qui cherchent des produits écoresponsables</li>
    <li>Des sociétés qui cherchent des services (recyclages, enlèvement de déchets, matériel)</li>
</ul>

<h1>Notre Histoire :</h1>

Eco-Service est une entreprise oeuvrant pour l'écologie grâce au recyclage depuis plus de 20 ans.
En 2020 une évolution majeure a eu lieu avec l'ouverture du site e-commerce avec l'aide de Kangas une jeune
entreprise française en adéquation avec nos idées et nos princes

<h1>Comment nous contacter ?</h1>

<p>Pour une offre d'emploie ou commerciale veuillez adresser un e-mail à commercial@eco_service.com</p>

<p>Pour tout problème technique ou de commande veuillez adresser un e-mail à probleme@eco-service.com</p>
