#table-produits-panier
{
    background-color: #8ed86e;
    width: 100%;
    border-radius: 30px;
    border: none;
}


#table-produits-panier th
{
    padding: 5px 20px;
}

#table-produits-panier td
{
    border-top: solid 1px #888;
    padding: 5px 20px;
}

.prix-unitaire-produit p
{
    margin-right: 20px;
}

#produits-panier-foot
{
    margin: 20px;
}


.infos-produit-panier
{
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    margin-left: 0;
    margin-right: 0;
}

@media (min-width: 768px)
{
    .infos-produit-panier
    {
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
    }

    .nom-produit-panier
    {
        padding: 2px;
        align-self: center;
    }

    .quantite-produit-refresh
    {
        border-color: transparent;
        background-color: #f7cf9b;
        margin: 0 10px;
        border-radius: 10px;
        padding: 5px 10px;
    }

    .bouton-update.quantite-produit-refresh.btn
    {
        margin: 0 20px;
    }
    .bouton-suppression-produit.quantite-produit-refresh
    {
        margin-left: 10px;
    }
}

.nom-produit-panier,
.prix-unitaire-produit,
.quantite-produit,
.bouton-suppression-produit
{
    padding: 2px;
    margin-left: 0;
    margin-right: 0;
    align-self: self-start;
}

.quantite-produit-refresh
{
    color: #222;
    border-color: transparent;
    background-color: #f7cf9b;
    margin: 0;
    border-radius: 10px;
    padding: 5px 10px;
}

.quantite-produit-refresh:hover
{
    color: #222;
    box-shadow: 0 0 5px 1px #555;
    background-color: #f7cf9b;
    border-color: transparent;
}

.btn-success:not(:disabled):not(.disabled):active
{
    background-color: #f7cf9b;
    border-color: transparent;
}

.quantite-produit-refresh a,
.quantite-produit-refresh i
{
    color: #222;
}

.quantite-produit-input
{
    width: 50px;
}
