{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(formCategorieProduit) }}

    {{ form_row(formCategorieProduit.nom, {'label' : 'Nom de la catégorie :','attr' : {'placeholder' : "catégorie"}}) }}
    {# {{ form_row(formCategorieProduit.UtilisateurAdmin, {'label' : 'utilisateur:','attr' : {'placeholder' : "utilisateur"}}) }} #}

    <button type="submit" class="btn btn-success ">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter la catégorie
        {% endif %}
    </button>

    {{ form(formCategorieProduit) }}
{% endblock %}