{% extends 'base.html.twig' %}

{% block title %}Produit - {{ parent() }}{% endblock %}

{% block body %}
<div>
    <h1>{{ produit.nomProduit }}</h1>

    <p>
        Présentation : {{ produit.presentation }}<br/>
        Description : {{ produit.descriptionDetaillee }}
    </p>
</div>
{% endblock %}
