{% extends 'base.html.twig' %}

{% block title %}Blog - {{parent()}}{% endblock %}
{% block body %}
    <h1>ECO - SERVICE</h1>
    <h3>Blog DIY</h3>
        <section class="articles">
            <div class="">
                <h4 class="card-title">{{ article.titre }}</h4>
                <p>{{ article.text}}</p>
            </div>
{% endblock %}
