{% extends 'base.html.twig' %}

{% block title %}Blog - {{parent()}}{% endblock %}
{% block body %}
    <h1>ECO - SERVICE</h1>
    <h3>Blog DIY</h3>
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l3">
                <div class="article-card">
                    <img src="" class="responsive-img">
                    <h2><a href="">Another Title</a></h2>
                    <span class="date">14/01/2019</span>
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="article-card">
                    <img src="https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="responsive-img">
                    <h2><a href="">Another Title</a></h2>
                    <span class="date">14/01/2019</span>
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="article-card">
                    <img src="https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="responsive-img">
                    <h2><a href="">Another Title</a></h2>
                    <span class="date">14/01/2019</span>
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="article-card">
                    <img src="https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="responsive-img">
                    <h2><a href="">Another Title</a></h2>
                    <span class="date">14/01/2019</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
