{% extends 'base.html.twig' %}

{% block title %}Blog - {{parent()}}{% endblock %}
{% block body %}
    <h1>ECO - SERVICE</h1>
    <h3>Blog DIY</h3>
    <section class="articles">
        {% for article in articles %}
        <article>
            <h4>{{ article.titre }}</h4>
            <span class="date">Ecrit le 14/01/2019</span>
            <div class="content">
                <img src="https://placehold.it/350x150" class="responsive-img" alt="">
                <p>Lorem..</p>
                <p>Lorem</p>
                <a href="{{ path'blog_articles' }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
        {% endfor % }
    </section>
{% endblock %}
