
{% extends 'base.html.twig' %}

{% block title %}Blog - {{parent()}}{% endblock %}
{% block body %}
    <h1>ECO - SERVICE</h1>
    <h3>Blog DIY</h3>
    <section class="articles">
        {% for article in articles %}
        <article>
            <div class="card-deck">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ article.titre }}</h4>
                        <p class="card-text">{{ article.text}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        <a href="{{ path('blog_articles', {'id' : article.id}) }}" class="btn btn-primary">Voir l'article</a>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
    </section>
{% endblock %}
