h1 {
    color: #f2af58;
}

.profil {
    min-height: 450px;
}

.profil-container {
    min-height: 390px;
    width: 75%;
    margin: 25px auto;
    background-color: #8ed86e77;
    border-radius: 5px;
    padding: 10px 0;
}

.profil-info {
    padding : 15px;
}

.profil-info__item {
    padding: 10px;
}

.profil-info__button {
    justify-content: flex-end;
}

.profil-info__button button {
    background-color: #f7cf9b;
    border: none;
    box-shadow: -2px 2px 5px 1px #222;
    color: #222;
}

.profil-info__button button:hover {
    background-color: #f2af58;
    color: black;
}

.profil-info__button button:active {
    background-color: #f2af58 !important;
    color: black !important;
    box-shadow: 0 0 0 0.2rem rgba(107, 114, 108, 0.5) !important;
}

.profil-info__button button:focus {
    background-color: #f2af58 !important;
    color: black !important;
    box-shadow: 0 0 0 0.2rem rgba(107, 114, 108, 0.5) !important;
}

.container-address-add {
    display: flex;
}

.container-btn-modif {
    display: flex;
    justify-content: flex-end;
}

.modif-link {
    background-color: #f7cf9b;
    border: none;
    box-shadow: -2px 2px 5px 1px #222;
    color: #222;
}

.modif-link:hover {
    background-color: #f2af58;
    color: black;
}

.modif-link:active {
    background-color: #f2af58 !important;
    color: black !important;
    box-shadow: 0 0 0 0.2rem rgba(107, 114, 108, 0.5) !important;
}

.modif-link:focus {
    background-color: #f2af58 !important;
    color: black !important;
    box-shadow: 0 0 0 0.2rem rgba(107, 114, 108, 0.5) !important;
}

.profil-info i{
    color: black;
}

.container-address-add {
    display: flex;
    align-items: baseline;
}

.container-address-add *{
    margin: 0 5px;
}

.container-address-add a {
    margin-left: auto;
}

@media (max-width: 767px)
{
    .profil-container {
        width: 100%;
    }
}