{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{asset('../assets/PageTemplate.css')}}">

{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-sm">
        <!-- Brand -->
        <a href="{{ path("home") }}" title="Retour à l'accueil">
            <img src="{{asset('../assets/img/Logo_Eco-Service.png')}}" width="100" height="100" border="0">
        </a>

        <!-- TODO : BARRE DE RECHERCHE ICI -->

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">

                <!-- TODO : MODIFIER LE LIEN -->
                <a class="nav-link" href="#" title="Accéder au Panier">
                    <i class="fa fa-shopping-cart fa-2x"></i>
                </a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">

                <!-- TODO : MODIFIER LE LIEN -->
                <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown" title="Ouvrir le menu déroulant">
                    <i class="fa fa-bars fa-2x"></i>
                </a>
                <div class="dropdown-menu">

                    <!-- TODO : MODIFIER LES LIENS -->
                    <a class="dropdown-item" href="#">Connexion</a>
                    <a class="dropdown-item" href="#">Profil</a>
                    <a class="dropdown-item" href="#">Aide</a>
                </div>
            </li>
        </ul>
    </nav>
{% endblock %}
